<b>Team:</b>
<%= @team.name %>

<p>
	<b>Members:</b>
	<% @team.users.each do |u| %>
	<br />
	<%= u.name %>
	<% end %>
</p>

<p>
<%= form_for @team do |f| %>
	<%= f.label :user_tokens, "Add Members" %><br />
	<%= f.text_field :user_tokens %>
	<%= f.submit "Add Members" %>
<% end %>
</p>

<p>
<% if @team.projects.length > 0 %>
<b> Projects: </b>
<% @team.projects.each do |p| %>
	<% if p.team_id == @team.id %>
	<br /><%= link_to p.name, @team.name + '/' + p.name %>
	<% end %>
<% end %>
<% end %>
<%= button_to 'Add Project', @team.name + '/projects/new' %>
</p>


<%= link_to 'Back', root_path %>