<% if user_signed_in? %>

<p>
	<% current_user.teams.each do |t| %>
	<br /><%= link_to t.name, t.name %>
	<% end %>
</p>

<p>
	<% comment do %>

	<%= form_tag do %>
	<%= label_tag(:team_tokens, "Join teams") %> <br>
	<%= text_field :team_tokens, "data-pre" => current_user.teams.map{|u| {:id => u.id, :name => u.name} }.to_json %>
	<%= submit_tag("Join") %>
	<% end %>

	<%= form_for @user do |f| %>
	<%= f.label :team_tokens, "Add Members" %><br />
	<%= f.text_field :team_tokens %>
	<%= f.submit "Add Members" %>
	<% end %>

	<% end %>

	<%= button_to "Create Team", '/teams/new' %>
	<% end %>
</p>